{% extends 'home/base.html' %}
{% block conteudo %}

<div class="container text-center mt-5">
    <div class="mb-3">
        <h1>Home Estoque</h1>
    </div>

    <div class="mb-3">
        <form action="{% url 'estoque' %}"><button class="form-control" onmouseover="this.className='btn btn-primary form-control'" onmouseout="this.className='form-control'">Ver estoque</button></form>
    </div>

    <div class="mb-3">
        <form action="{%  url 'cadrasto_estoque' %}"><button class="form-control" onmouseover="this.className='btn btn-primary form-control'" onmouseout="this.className='form-control'">Adicionar estoque</button></form>
    </div>
    
</div>

{% endblock %}