{% extends 'home/base.html' %}
{% block conteudo %}

<div class="container text-center mt-5">
  <h1>Caixa</h1>
  <form method="POST"  class="needs-validation" novalidate style="margin-top: 20px;">
    {% csrf_token %}
    <div class="form-group mb-3">
      <input class="form-control" type="text" placeholder="Produto" name="produto" required>
      <div class="invalid-feedback">Por favor, preencha o nome do produto.</div>
    </div>
    <div class="form-group mb-3">
      <input class="form-control" type="text" placeholder="Quantidade" name="quantidade" required>
      <div class="invalid-feedback">Por favor, preencha a quantidade do produto.</div>
    </div>
    <button class="btn btn-primary" type="submit">Adicionar</button>
  </form>
  
  {% if produto %}
    <h1>Preço: R$ {{ produto.valor }}</h1>
  {% endif %}
</div>

<script>
  // Adicionar validação de formulário Bootstrap
  (() => {
      'use strict';
      const forms = document.querySelectorAll('.needs-validation');
      forms.forEach(form => {
          form.addEventListener('submit', event => {
              if (!form.checkValidity()) {
                  event.preventDefault();
                  event.stopPropagation();
              }
              form.classList.add('was-validated');
          }, false);
      });
  })();
</script>

{% endblock %}
